<a ui-sref="home">
	<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
</a>
<a ui-sref="categories">
	<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Menu
</a>
<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> {{ controller.categoriesName }}

<table>
	<caption>{{ controller.items.length }} Dishes Available!</caption>
	<tr>
		<th></th>
		<th>Dish Name</th>
		<th>Short Name</th>
		<th>Description</th>
		<th>Regular</th>
		<th>Large</th>
	</tr>

	<tr ng-repeat="item in controller.items">
		<td>{{ $index + 1 }}.</td>
		<td>{{ item.name }}</td>
		<td>{{ item.short_name }}</td>
		<td>{{ item.description }}</td>
		<td>{{ item.price_small | currency }}</td>
		<td>{{ item.price_large | currency }}</td>
	</tr>
</table>
